{% extends 'products/base.html' %}

{% block content %}
<h1>Зміна паролю</h1>


<div class="row justify-content-center">
        <div class="col-lg-5">
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>  <!-- f це обьект форми, в якого тайтл прописаний в формс.пай і сама f виведе обьект який має ті самі пари ключ значень і базується на класі по створенню поля конкретного -->
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <div class="form-row">
        <div class="col-lg-12" style="margin-top: 33px;">
            <input class="btn btn-info btn-block" type="submit" value="Зберегти">
        </div>
    </div>
</form>

    </div>
</div>

{% endblock %}


