{% extends 'users/base.html' %}
{% load i18n %}

{% load static %}

{% block css %}
<link href="{% static 'vendor/css/reset_password_style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 id="password-reset-heading">Скидання пароля</h1>

<p id="password-reset-instructions">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

<p id="password-reset-note">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

{% endblock %}