{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if messages %}
        <div class="container mt-4">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
{% endif %}

    <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">ModaMix</h1>
                <p>
                    Новинки, гарна якість, кращі бренди світу.
                    Хочеш оновити свій гардероб?
                    Тоді обирай з асортименту, якість гарантуємо!
                    {% if is_promotion %}
                    -20% на першу покупку.
                    {% endif %}
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        Шопінг!
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}